body {
  margin: 0;
  padding: 0 0 0 0;
  font-size: 12px;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
}

html,
body,
.ppc {
  height: 100%;
}

/* xzx */
.container a {
  color: #666;
}

a:hover {
  color: #09f;
}

.bt1 {
  font-size: 24px;
  font-family: "微软雅黑";
  text-align: center;
}

.bt2 {
  font-size: 12px;
  color: #999;
}

.getiao {
  width: 100%;
  height: 46px;
  background-image: url(../images/webpage_pps_04.gif); 

  position: relative;
}

.getiao_xsd {
  float: left;
  width: 650px;
  line-height: 25px;
  margin-top: 8px;
  display: inline;
}

.getiao_xsd_gao {
  float: left;
  width: 220px;
  display: inline;
  height: 0;
}
.getiao_progress{
  width: 92px;
  height: 17px;
  border: 1px solid #666;
  float: left;
  margin-top: 4px;
  text-align: left;
}

.getiao_progress span{
  display: inline-block;
  height: 100%;
  width: 85%;
  background: red;
}

.getiao_percent_gao {
  width: 488px;
  float: left;
  margin-top: 13px;
  margin-left: 0px;
  display: inline;
}

.getiao_wz {
  width: 75px;
  float: left;
  margin-left: 0px;
  display: inline;
}

.getiao_percent {
  width: 500px;
  margin-left: 10px;
  display: inline;
}

.getiao img {
  border: 1px solid #666666;
  margin-top: 4px;
  float: left;
}

.getiao_an {
  float: right;
  height: 30px;
  width: 400px;
  margin-top: -7px;
  display: block;
  text-align: right;
  position: absolute;
  right: 0;
}

.getiao_an a {
  float: left;
  height: 20px;
  padding-top: 7px;
  padding-right: 1vw;
  padding-left: 1vw;
  background-repeat: repeat-x;
  border: 1px solid #939393;
  text-decoration: none;
  color: #666;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 12px;
}
/* xzx */
/* .getiao_an a:link,
.getiao_an a:visited,
.getiao_an a:active,
.getiao_an a:focus {
  background-image: url(../images/webpage_pps_an.png);
} */

.getiao_an a:hover {
  color: #666;
  background-color: #fff;
}

.top {
  background-color: #E2E2E2;
  height: 8px;
  margin: 0;
  padding: 0 0 0 0;
}

.bottom {
  background-image: url(../images/webpage_di.gif);
  background-repeat: repeat-x;
  width: 100%;
  display: block;
  height: 40px;
  bottom: 0px;
  vertical-align: bottom;
  margin-bottom: 0px;
  position: relative;
  left: 0px;
  overflow: hidden;
}

.left,
.right {
  background-repeat: repeat-y;
  width: 31px;
  vertical-align: top;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.left {
  background-image: url(../images/webpage_pps_left.gif);
}

.right {
  background-image: url(../images/webpage_pps_right.gif);

}

.zwcc {
  position: relative;
}

.zwcc span {
  color: red;
}

.zwcc-icon {
  position: absolute;
  top: -20px;
  right: 0;
}

/* 头部 */
.container{
  margin: 0 31px;
  border: 9px solid #E2E2E2;
  height: 100%;
  position: relative;
  background: #fff;
  z-index: 1;
  box-sizing: border-box;
  box-shadow: 10px 5px 8px 0px #BDBDBD;
  padding-top: 80px;
  padding-bottom: 45px;
  overflow: hidden;
}
.container_copy{
  position: absolute;
  left: 31px;
  top: 0;
  right: 31px;
  bottom: 10px;
  z-index: 0;
  box-shadow: -10px 5px 8px 0px #BDBDBD;

}
.head{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 2;
}
.head tbody{
  padding: 0 10px;
}
.main{
  height: 100%;
  background: red;
}
/* 详细报告 */
.red{
  color: #FF0000;
}
.red1 .highlight{
  color: #FF0000;
}
.green{
  color: #008000;
}
.green1 .highlight{
  color: #008000;
  font-style: normal;
}
.orange{
  color: #FF9900;
}
.orange .highlight{
  color: #FF9900;
}
.black{
  color: #333;
}
.margin_10{
  margin-bottom: 10px !important;
}
.detail{
  font-size: 0;
  height: 100%;
}
.detail_left{
  width: 60%;
}
.detail_right{
  width: 40%;
}
.detail_left,.detail_right{
  display: inline-block;
  vertical-align: top;
  padding: 8px;
  height: 100%;
  box-sizing: border-box;
  font-size: 14px;
  color: #666666;
  overflow: auto;
}
.detail_succ,.detail_worn,.detail_copy{
  margin: 0 0 20px;
  line-height: 20px;
}
.detail_worn,.detail_copy{
  cursor: pointer;
}
.detail_worn:hover,.detail_copy:hover{
  color: #333;
  text-decoration: underline ;
}
.detail_num{
  border: 1px solid #999999;
  text-align: center;
  width: 38px;
  height: 22px;
  line-height: 22px;
  margin: 0 0 0 30px;
}
.detail_copyMain{
  margin-bottom:15px;
  border: 1px solid #C0C0C0;
  padding: 8px;
}
a{
  color: blue;
  text-decoration: none;
}
/* xzx */
/* a:visited{
  color: #551A8b
} */
.detail_copyMain p{
  margin: 0;
}
.detail_copyMain_head{
  text-align: right;
  width: 100%;
  height: 23px;
}
.detail_num2{
  float: left;
  border: 1px solid #999999;
  text-align: center;
  width: 17px;
  height: 17px;
}
.detail_copyInfo{
  display: none;
}
.detail_change{
  margin-bottom:15px;
  border: 1px solid #C0C0C0;
  padding: 8px;
  line-height: 25px;
}
.detail_change p{
  margin: 0;
}
.detail_change .detail_chage_p1{
  font-size: 17px;
  padding-left: 5px;
  margin-bottom: 5px;
}
/* 详细报告 */
/* 综合评估 */
.compre_main{
  height: 100%;
  overflow: auto;
}
.compre{
  border: 1px solid #C0C0C0;
  margin: 8px;
  padding: 8px 8px 0;
  font-size: 13px;
  color: #666;
}
.compre p{
  margin: 0 0 10px;
}
.compre_progress{
  border: 1px solid #666666;
  height: 17px;
  width: 92px;
  display: inline-block;
  vertical-align: sub;
  margin: 0 5px 0 15px;
  box-sizing: border-box;
}
.compre_progress i{
  display: inline-block;
  width: 85%;
  background: red;
  height: 100%;
}
.compre_down i{
  display: inline-block;
  font-style: normal;
  border: 1px solid #999999;
  width: 33px;
  height: 18px;
  text-align: center;
}
.compre_down span{
  color: #333;
}
/* 综合评估 */
/* 查看全文 */
.article{
  height: 100%;
  overflow: auto;
  padding: 15px 15px;
  box-sizing: border-box;
}
.article p{
  margin-bottom: 20px;
  font-size: 13px;
  color: #666;
  text-indent: 2em;
  line-height: 27px;
}
/* 查看全文end */
/* xzx */
.container .title_light{
  color: #fff;
  background-color: #568CD6 ;
}